.App {
  text-align: center;
  background-color: orange;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  text-align: left;
  background-color: grey;
  height: 75px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auth-form {
  padding: 15px;
  margin-top: 140px;
  border: solid 1px gray;
  width: 74%;
  border-radius: 7px;
  background-color: white;
  padding: 50px;
}

.auth-submit {
  width: 100%;
  color: white;
  background-color: grey;
  border: solid 1px #8b3f08;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
}

.col-md-8 {
  padding: 15px;
  width: 60% !important;
  margin-right: 15px;
}
.col-md-4 {
  padding: 20px;
  width: 30%;
}

.auth-img {
  width: 650px;
}

.auth-container {
  width: 75%;
  text-align: center;
  opacity: 95%;
}

.auth-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-submit {
  display: block;
  width: 100%;
  margin-left: 9px;

}

.btn-submit:hover {
  background: rgb(226, 145, 87);
}

.small-text {
  text-align: center;
  font-size: 13px;
  color: 00008b;
}

.row {
  display: -ms-flexbox;
  display: flex;
  flex-flow: row !important;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

section {
  display: block;
}

.nav-display {
  background-color: grey;
}

.list-entries {
  background-color: white;
  margin-top: 110px;
  border: solid black 1px;
  height: 500px;
}

.entry-card {
  /* position:relative;
  z-index: 1; */
  background-color: white;
  margin: 15px 0;
  border: solid red 1px;
  height: 100px;
}

.entry-card-display {
  border: solid blue 1px;
  position: relative;
  margin: 0 15px;
  padding: 15px 15px;
  width:100%;
  height: 100px;
  text-align: left;
}

.entry-card-title {
  font-size: 20px
}

.entry-card-preview {
  font-size: 15px 
}