body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  color: white;
  text-align: left;
  background-color: grey;
  height: 75px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auth-form {
  border: solid 1px gray;
  border-radius: 7px;
  box-sizing: border-box;
  background-color: black;
  padding: 20px;
  margin: 10% auto 0 auto;
  width: 750px !important;
  color: white;
  overflow: auto;
}

.auth-form-input {
  border: solid 1px gray;
  border-radius: 5px;
  padding: 8px;
  /* margin: 10px 0px 10px 0px; */
  position: relative;
  width: 97%;
  resize: vertical;
  text-align: center;
}

.auth-form-label {
  padding: 20px 12px 12px 0px;
}

.col-label {
  float: left;
  width: 25%;
  margin-top: 25px;
}

.col-input {
  float: left;
  width: 75%;
  margin-top: 20px;
}

row {
  display: flex;
  flex-wrap: wrap;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.auth-button {
  float: left;
  border: solid 1px black;
  cursor: pointer;
  color: white;
  width: 50%;
  background-color: grey;
  padding: 10px 20px;
}

.auth-link {
  text-align: center;
  margin: 20px 0 20px 0;
}

.auth-submit {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.auth-cancel {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-buttons {
  width: 100%;
  margin: 10px auto 0px auto;
}

.btn-submit {
  display: table;
  width: 100%;
  margin-left: 9px;
}

.entry-submit {
  display: block;
  width: 100px;
  height: 40px;
  border-radius: 4px;
  background-color: white;
  border: 1px solid white;
  margin-left: 9px;
}

.entry-submit:hover {
  background-color: grey;
  border: 1px solid grey;
}

.btn-submit:hover {
  background: rgb(226, 145, 87);
}

.small-text {
  text-align: center;
  font-size: 13px;
  color: 00008b;
}

.container {
  border: solid 1px red;
  padding: 15px;
  height: 100%;
}

.entries-window {
  height: 75%;
  overflow: scroll;
}

.preview-entry-card, .view-entry-card {
  width: 80%;
}

.preview-entry-card{
  margin: 0% auto 2% auto;
  height: 15%;
}

.view-entry-card {
  margin: 5% auto 5% auto;
}

.entry-card-display, .entry-display {
  border: solid black 1px;
  background-color: black;
  opacity: 0.7;
  padding: 2%;
}

.entry-card-display {
  height: 100px;
  text-align: left;
}

.entry-card-display:hover {
  opacity: 0.9;
}

.nav-display {
  background-color: rgb(199, 199, 199);
}

.home-heading {
  color: white;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 2%;
}


.entry-card-title, .entry-title {
  text-align: center;
  font-size: 25px;
  font-weight: 700;
  color: orange;
}

.entry-card-title {
  font-size: 20px;
}

.entry-date {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: orange;
}

.entry-card-body, .entry-body {
  font-size: 15px;
  color: white;
  overflow: scroll;
  font-weight: 500;
  text-align: left;
}

.entry-card-body {
  height: 75%;
}

.entry-body {
  height: 350px;
}

.entry-title {
  width: 80%;
  margin: 2.5% auto 0% auto;
  border: solid 1px black;
}

.entry-title-input {
  text-align: center;
  padding: 12px 0px 12px 0px;
  width: 100%;
  font-size: 15px;
  background-color: white;
  /* background-color: rgba(250, 235, 214, 0.849); */
  resize: vertical;
}

.profile-display {
  border: solid black 1px;
  position: relative;
  background-color: black;
  /* opacity: 0.7; */
  margin: 0 15px;
  padding: 15px 15px;
  width: 100%;
  height: 350px;
  font-weight: 600;
  text-align: left;
}

.profile-body {
  font-size: 18px;
  margin: 10px 10px;
  height: 250px;
  text-align: center;
  color: white;
  font-weight: 600;
}

#text-editor {
  height: 365px;
}
.form-group {
  border-radius: 0px;
}
